<!DOCTYPE html>
<html>
  <head>
    <title>Information about DSE</title>
    <%= favicon %>
    <%= stylesheet 'index' %>
  </head>
  <body>
    <h1>An application for share business in Dhaka Stock Exchange </h1>
    <%= yield %>
  </body>
</html>
